<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 bg-dark1 ">
      <ul class="list-group mt-5 text-left ">
        <li class="list-group-item border-0 logo">
          <img src="/assets/logo 2.png" />
        </li>
        <li
          class="list-group-item border-0 side"
          [routerLink]="'dashboard'"
          routerLinkActive="active"
        >
          <a *ngIf="isLoggedIn"> <img src="/assets/dash.png" />Dashboard</a>
        </li>
        <li
          class="list-group-item border-0 side"
          *ngIf="showAdminBoard"
          [routerLink]="'reports'"
          routerLinkActive="active"
        >
          <a *ngIf="isLoggedIn"><img src="/assets/reportlogo.png" /> Reports</a>
        </li>

        <li
          class="list-group-item border-0 side"
          [routerLink]="'insertdata'"
          routerLinkActive="active"
        >
          <a *ngIf="isLoggedIn">
            <img src="/assets/insertlogo.png" /> Insert Data</a
          >
        </li>
        <li
          class="list-group-item border-0 side"
          routerLink="/manageusers"
          routerLinkActive="active"
        >
          <a *ngIf="isLoggedIn"
            ><img src="/assets/muserslogo.png" />Manage Users</a
          >
        </li>
        <li
          class="list-group-item border-0 side"
          [routerLink]="'programs'"
          routerLinkActive="active"
        >
          <a *ngIf="isLoggedIn"> <img src="/assets/proglogo.png" />Programs</a>
        </li>
        <li
          class="list-group-item border-0 side"
          routerLink="/scanner"
          routerLinkActive="active"
          *ngIf="isLoggedIn"
        >
          <a><img src="/assets/insertdatalogo.png" /> Scanner</a>
        </li>
        <li
          class="list-group-item border-0 side"
          *ngIf="isLoggedIn"
          (click)="logout()"
        >
          <a ><img src="/assets/insertdatalogo.png" />Sign out</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10 ">
      <div class="container-flex ">
        <div class="container-fluid right mt-3">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
