

.bg-gray5 {
    background-color: #181818;
    height: 100vh;
    overflow: auto;
  }
  .bg-white {
    background-color: white;
    border-top: solid #c6c6c5 1px;
    border-bottom: solid #c6c6c5 1px;
  }
  .right {
    height: 100vh;
    overflow: auto;
    
  }
  .head {
    background-color: #2e2d2d;
    height: 50px;
    color: white;
    text-align: center;
  }
 

  .bg-dark1 {
    /* background-color: #373737  ; */
    /* background-color: #0499F9  ; */
    /* border-top-right-radius: 30px; */
    /* background: #141E30; 
background: -webkit-linear-gradient(to right, #243B55, #141E30);  
background: linear-gradient(to right, #243B55, #141E30);  */
 
/* background-color: #23272a; */
background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
  .list-group-item{
    /* background-color: #0499F9  ; */
    background-color: transparent  ;
    border-top-left-radius: 30px;
    /* color: #E6E6E6 ; */
    color: #B0B0B0 ;
    font-size: 15px;
  }
  .list-group{
    margin-right: -15px;
  }
  .navbar {
    max-height: 40px;
    box-shadow: 0px 10px 10px -15px #111;
  }
  .list-group-item:hover{
    background-color: #F5F5F5;
    color: #B0B0B0 ;
    border-left: #59E40F  solid 5px;
  }

  .active{
    background-color: white;
    color: black;
    border-left: #59E40F  solid 5px;
  }
  .active img{
    background-color: #1D8BF9;
    border: #1D8BF9 solid 2px;
  }

  .right{
    background-color: white;
  }

i{
  margin-right: 5px;
}

.side img{
    width: 25px;
    margin-right: 10px;
}
.logo img{
    width: 140px;
}
.avatar img{
  width: 35px;
  margin-right: 10px;
}
.avatar{
  color: white;
}
.dropdown-menu a{
  font-size: 12px;
}