.string {
    color: green;
}

.number {
    color: #FF8C00;
}

.boolean {
    color: blue;
}

.null {
    color: #F0F;
}

.key {
    color: red;
}

.errLog {
    color: red;
}

.fieldset {
    border: 1px solid#ccc;
    padding: 10px;
}​

.horizontalRule {
    background-color: #E5E5E5;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
}

div .center{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -40px;
    margin-left: -50px;
    width: 304px;
    
}