

.bg-gray5 {
    background-color: #181818;
    height: 100vh;
    overflow: auto;
  }
  .bg-white {
    background-color: white;
    border-top: solid #c6c6c5 1px;
    border-bottom: solid #c6c6c5 1px;
  }
  .right {
    height: 100vh;
    overflow: auto;
    
  }
  .head {
    background-color: #2e2d2d;
    height: 50px;
    color: white;
    text-align: center;
  }
 

  .bg-dark1 {
    background-color: #0499F9  ;
    border-top-right-radius: 30px;
 
  }
  .list-group-item{
    background-color: #0499F9  ;
    border-top-left-radius: 30px;
 
  }
  .list-group{
    margin-right: -15px;
  }
  .navbar {
    max-height: 40px;
    box-shadow: 0px 10px 10px -15px #111;
  }


  .active{
    background-color: white;
    color: black;
    border-left: #59E40F  solid 5px;


  }
  .right{
    background-color: white;
  }

i{
  margin-right: 5px;
}


  