.reports-filter{
    /* background-color: #A6A7A7; */
    padding: 40px 20px;
    border: solid 1px #A6A7A7;
    border-radius: 10px;
  }
  .reportpanel{
    background-color:  #EAEAEA ;
    padding: 40px 20px;
    border-radius: 10px;
    margin-top: 30px;
    border: solid 1px #A6A7A7;
    height:200px; 
  }
  .reportpanel p{
    font-size: 12px;
    text-align: center;
  }