<h5><img src="/assets/gear.png" class="lock"/> Password Settings</h5>
<div class="container passform">
    <form>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-3 col-form-label">Old Password</label>
          <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><img src="/assets/lock.png" class="lock"/></div>
                </div>
                <input type="password" class="form-control passinput" id="inlineFormInputGroupUsername" >
              </div>
          </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-3 col-form-label">New Password</label>
          <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><img src="/assets/lock.png" class="lock"/></div>
                </div>
                <input type="password" class="form-control passinput" id="inlineFormInputGroupUsername" >
              </div>
          </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-3 col-form-label">Retype Password</label>
          <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><img src="/assets/lock.png" class="lock"/></div>
                </div>
                <input type="password" class="form-control passinput" id="inlineFormInputGroupUsername" >
              </div>
          </div>
        </div>
        <button class="btn btn-primary float-right ml-2">Change Password</button>
        <button class="btn btn-dark float-right">Cancel</button>
        
      </form>
</div>