.lock{
    width: 20px;
}
.lock1{
    width: 80px;
}
.passform{
    padding: 20px 20px;
}
.passinput{
    width: 75%;
}

.bg-blue{
    background-color: #E8F0FE;
    height: 400px;
    padding: 40px 20px;
}
.formdiv{
    border: solid .5px #E8F0FE;
    background-color: white;
    padding: 10px 20px;
    min-height: 500px;
}



