
<div class="container-flex">
  <div class="container">
    <div class="container profile-head">
      <div class="imgdiv">
        <img src="/assets/pro.jpg" alt="" />
        <h4>
          <strong
            >{{ currentUser.firstname }} {{ currentUser.lastname }}</strong
          >
        </h4>
        <p>
          {{ currentUser.username }}
        </p>
      </div>
    </div>

    <div class="container mt-3 probody">
      <div>
        <div class="container" *ngIf="currentUser; else loggedOut">
          <button
            class="btn btn-primary btn-sm  mb-2"
            (click)="openEditProfile(null)"
          >
            Upload Image
          </button>
          <!-- <p>
                              <strong>Token:</strong>
                              {{ currentUser.accessToken.substring(0, 20) }} ...
                              {{
                                currentUser.accessToken.substr(
                                  currentUser.accessToken.length - 20
                                )
                              }}
                            </p> -->
          <p>
            <strong>Email:</strong>
            {{ currentUser.email }}
          </p>
          <p>
            <strong>Username:</strong>
            {{ currentUser.username }}
          </p>
          <p>
            <strong>Mobile Number:</strong>
            {{ currentUser.mobileno }}
          </p>
          <p>
            <strong>Address:</strong>
            {{ currentUser.address }}
          </p>
          <strong>Roles:</strong>
          <ul>
            <li *ngFor="let role of currentUser.roles">
              {{ role }}
            </li>
          </ul>
        </div>

        <ng-template #loggedOut>
          Please login.
        </ng-template>
        <h3>Image Uploading Module</h3>


        <div>
            <input type="file" (change)="onFileChanged($event)">
        
            <img [src]="imgURL" height="200" *ngIf="imgURL">
        </div>
        
        <input type="button" (click)="onUpload()" value="upload">
        
        <hr />
      </div>
    </div>
  </div>
</div>
